<div class="homePage">
  <h1 class="homePage__title">
    Application de Gestion de Panier d'Achats avec Angular et BehaviorSubject
  </h1>

  <div class="homePage__description">
    <ul>
      <li>
        <strong>Objectif</strong>: Développer une application Angular de gestion
        de panier d'achats qui permet aux utilisateurs d'ajouter des articles au
        panier, tout en utilisant BehaviorSubject pour mettre en œuvre la
        communication entre les composants.
      </li>
      <li>
        <strong>Description</strong>: Dans cet exercice, on a crée une
        application Angular qui simule un système de gestion de panier d'achats.
        L'application a deux vues principales : la liste des articles et le
        panier d'achats.
      </li>
    </ul>
  </div>

  <div class="homePage__content">
    <app-product-list></app-product-list>
    <app-cart></app-cart>
  </div>

  <div class="homePage__resources">
    <ul>
      <li>
        <strong>Lien vers l'atricle</strong>:
        <a
          href="https://www.codaily.dev/blog/programmation-reactive-avec-angular-behaviorsubject-gestionnaire-de-panier-d-achats"
          target="_blank"
          >Programmation reactive avec Angular & BehaviorSubject: Gestionnaire
          de panier d'achats</a
        >
      </li>
      <li>
        <strong>Lien vers le repo git</strong>:
        <a
          href="https://github.com/codaily-dev/Angular-BehaviorSubject-Gestionnaire-de-panier-d-achats"
          target="_blank"
          >Application de Gestion de Panier d'Achats avec Angular et
          BehaviorSubject</a
        >
      </li>
    </ul>
  </div>
</div>
